body {
    color: #ffffff;
}
a {
    color: #ffffff;
}
p {
    line-height: 1.35em;
}

#bgvid {
    z-index: -2;
    background: url("..images/background.jpg") no-repeat;
    background-size: cover;
}

#bgfilter {
    z-index: -1;
    background-color: #000000;
    opacity: 0.25;
}

#bgvidcontrol {
    display: block;
    position: fixed;
    bottom: 1%;
    right: 1%;
    color: #ffffff;
}

#footer {
    padding: 1%;
    font-size: .5em;
    color: #ffffff;
}

#logo {
    width: 70%;
    margin: 0 15% 0 15%;
}
#caption {
    margin: 1em 0 0 0;
    font-family: 'Overpass', sans-serif;
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
}
#caption > span {
    display: inline-block;
    margin: 0 5% 0 5%;
}

#content > .row {
    min-height: 90vh;
    padding: 5vh 0 5vh 0;
    text-align: center;
}
#content >.row > .section {
    display: table-cell;
    width: 100vw;
    height: 90vh;
    vertical-align: middle;
}

#tenants > .tenant {
    display: block;
    height: 20%;
    vertical-align: top;
    margin: 0 0 2em 0;
    padding: 2%;
}
#tenants > .tenant > i{
    display: block;
    margin: 0 0 .5em 0;
}
@media screen and (min-width: 750px) {
    /* On wide-screens, allow tenants to sit side-by-side */
    #tenants {
        width: 70%;
        margin: 0 15% 0 15%;
    }
    #tenants > .tenant {
        display: inline-block;
        width: 20%;
    }
}
@media screen and (min-width: 1025px) {
    /* On massive screens, allow content to be larger */
    #content {
        font-size: 2em;
    }
}
@media screen and (max-width: 400px) {
    /* On tiny screens, allow content to be smaller */
    #content {
        font-size: 0.75em;
    }
}

.quote > .cite {
    font-size: 0.75em;
}

/******************************/
/** BASIC, UNIVERSAL CLASSES **/
/******************************/

.inline-block {
    display: inline-block;
}

.flipvirt {
    position: relative;
    top: -3px;
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.fillpage {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -o-user-select: none;
    user-select: none;
}
